<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    
    </div>
    </nav>

    <main>
        <div class="row">
            <div class="col-sm-8">    
                <div class="jumbotron">
                    <h1>Your Representives in <?-JSON.stringify(data)?></h1>
                    <p>Welcome to templating using EJS</p>
                </div>
            </div>
        
            <div class="col-sm-4">        
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>
            </div>

            
            
        </div>
        </main>
        
    <p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
    