/* NAVBAR */

html{
    font-family: 'Oswald', sans-serif;
 }
 .logo{
    width: 150px;
    height: 150px;
}
#navbar {
   background: #8a074f;
   color: white;
   overflow: auto;
   height: auto;
   font-weight: bolder;
}


#navbar a{
   margin-top: 50px;
   color: white;
   font-family: 'Anton', sans-serif;
}

#nav ul{
    list-style-type: none;
    text-decoration: none;
}

#navbar ul{
   list-style: none;
   float: right;
}

#navbar ul li{
   float: left;
}

#navbar ul li a{
   display: block;
   padding: 20px;
   text-align: center;
   font-size: 25px;
}
/* pseudo elements */
#navbar ul li a:hover,
#navbar ul li a.current{
   background: #ffa600;
   color:  white;
}

/* NAVBAR END */



/* FOOTER */

footer{
    background: whitesmoke;
    padding: 90px 0;
    color: black;
}

.footer-container{
    max-width: 1300px;
    margin: "auto";
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo{
    width: 180px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color: #2e2f30;
    margin-right: 25px;
    text-decoration: none;
    font-size: 22px;
}

.social-media a:hover{
    color: #ffa600;
}

.right-col h1{
    font-size: 26px;

}



.news-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.border{
    width: 100px;
    height: 4px;
    background: #ffa600;
}
.txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #c0ccc2;
    background: whitesmoke;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

#btn{
   padding: 18px 40px;
   font-size: 16px;
   color: white;
   background: #ffa600;
   border: none;
   font-weight: 700;
   outline: none;
   border-radius: 30px;
   margin-left: 20px;
   cursor: pointer;
   transition: opacity .3s linear;
 
}

.btn:hover{
   opacity: .7;
}

@media screen and (max-width){
   .footer-container{
       max-width: 600px;
   }
   .right-col{
       width: 100%;
       margin-bottom: 60px;
   }

   .left-col{
       width: 100%;
       text-align: center;
   }
}

@media screen and (max-width:700px){
   .btn{
       margin: 0;
       width: 100%;
   }
}

/* FOOTER END */

   
   
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    padding-bottom: 10px;
}

h1 a, h1 a:hover {
    color: #444444;
    text-decoration: none;
}

.table > thead > tr > th { 
    white-space: nowrap;
}

.about {
    font-size: 90%;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}

.filter_level label {
    padding-left: 7px;
    padding-right: 7px;
}

#results-nav span {
    padding-right: 20px;
}

.col-md-10 {
    min-width: 960px;
    margin: auto;
    font-size: 40px;
}

.form-control{
    font-size: 30px;
    min-width: 960px;
    margin: auto;
}

.section-1{
    width: 100vw;
    height: 70vh;
}
